*.target.mk
*.Makefile
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*~
.*.sw?
.DS_Store
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
.settings
/build
/chromium_deps
/gyp-mac-tool
/Makefile
/out
/resources
/src/supplement.gypi
/testing
/third_party/asan
/third_party/cygwin
/third_party/expat
/third_party/gaeunit
/third_party/gold
/third_party/google-gflags/src
/third_party/google-visualization-python
/third_party/jsoncpp
/third_party/libjingle
/third_party/libjpeg
/third_party/libjpeg_turbo
/third_party/libsrtp
/third_party/libvpx
/third_party/libyuv
/third_party/llvm-build
/third_party/oauth2
/third_party/protobuf
/third_party/valgrind
/third_party/yasm
/tools/clang
/tools/gyp
/tools/python
/tools/valgrind
/tools/win
/x86-generic_out/
/xcodebuild
*.o
*.lo
Makefile.in
Makefile
*.la
.deps/
.libs/
webrtc.pc
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
patch.diff
src/common_audio/resampler/resampler_unittest
src/common_audio/signal_processing/signal_processing_unittest
src/common_audio/vad/vad_unittest
src/common_video/jpeg/jpeg_unittest
src/common_video/libyuv/libyuv_unittest
src/modules/audio_coding/main/audio_coding_unittest
src/system_wrappers/system_wrappers_unittest
src/modules/audio_coding/codecs/cng/cng_unittest
src/modules/audio_coding/codecs/g711/g711_unittest
src/modules/audio_coding/codecs/g722/g722_unittest
src/modules/audio_coding/codecs/pcm16b/pcm16b_unittest
src/modules/audio_coding/neteq/neteq_unittest
src/modules/audio_conference_mixer/audio_conference_mixer_unittest
src/modules/media_file/media_file_unittest
src/modules/rtp_rtcp/rtp_rtcp_unittest
src/modules/udp_transport/udp_transport_unittest
src/modules/utility/utility_unittest
src/modules/audio_coding/neteq/NetEqRTPplay
src/modules/audio_coding/neteq/RTPanalyze
src/modules/audio_coding/neteq/RTPcat
src/modules/audio_coding/neteq/RTPchange
src/modules/audio_coding/neteq/RTPencode
src/modules/audio_coding/neteq/RTPjitter
src/modules/audio_coding/neteq/RTPtimeshift
src/modules/audio_device/main/audio_device_test_api
src/modules/audio_device/main/audio_device_test_func
src/modules/video_coding/main/video_coding_unittest
src/modules/video_processing/main/video_processing_unittest
src/video_engine/video_engine_unittest
src/voice_engine/main/voice_engine_unittest
src/modules/video_coding/codecs/test/video_codecs_test_framework_unittest
src/modules/video_coding/codecs/vp8/main/vp8_test
src/modules/video_coding/codecs/vp8/main/vp8_unittest
src/modules/video_coding/main/video_coding_test
test/metrics_unittest
test/test_unittest
src/modules/video_coding/codecs/tools/video_quality_measurement
